/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Input-group quantité */
.cart-qty {
  width: 120px;
  margin: 0 auto;
  padding: 3px;
  flex-wrap: nowrap;
}

/* Boutons */
.btn-square {
  width: 34px;
  height: 34px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20;
}

/* Champ quantité*/
.cart-qty input.form-control {
  width: 45px;
  flex: 0 0 45px;
}

